:root {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  
  --max-width: 1000px;

  --almost-white: #FBFBFB;
  --yellowish: #B8972C;
  --blue: #07a;
  --grey: #899BA9;
  --light-grey: #DEDCE4;
  --lighter-grey: #F1F0F4;
  --dark-grey: #5A6770;
  --black: #262730;
}
