:root {
  --fg: var(--black);
  --fg-secondary: var(--dark-grey);
  --bg-primary: var(--almost-white);
  --bg-secondary: var(--light-grey);
  --bg-terciary: var(--yellowish);
  --links: var(--yellowish);
  --highlight: var(--blue);
  --hover: var(--grey);

  --bg-code: var(--lighter-grey);
  --fg-functions: var(--yellowish);
}

