:root {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  
  --max-width: 1000px;

  --almost-white: #FBFBFB;
  --yellowish: #B8972C;
  --grey: #899BA9;
  --lighter-grey: #F1F0F4;
  --light-grey: #DEDCE4;
  --dark-grey: #5A6770;
  --black: #262730;
}

body {
  margin: 0;
  background: var(--almost-white);
  color: var(--black);
}

main {
  margin: auto;
  padding: 5rem 0;
  max-width: var(--max-width);
}

footer {
  padding-top: 3rem;
  display: flex;
  justify-content: flex-end;
}

footer a {
  margin: 0 1rem;
  color: var(--yellowish);
  text-decoration: none;
  transition: 0.2s;
}

#gopher {
  height: 3rem;
}

.navbar-pading {
  padding: 0 auto;
}

.navbar-wrapper {
  background: var(--light-grey);

  display: flex;
  justify-content: center;
  margin: 0;
}

.navbar {
  background: var(--light-grey);
  margin: 0;
  padding: 0;
  max-width: var(--max-width);
  flex-grow: 1;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  list-style: none;
}

.navbar-brand {
  color: var(--black);
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar-brand:hover {
  color: var(--grey);
}

.navbar-header {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-icon {
  display: none;
}

.nav-item {
  padding: 0 0.75rem;
}

.nav-link {
  color: var(--black);
  text-decoration: none;
  transition: 0.2s;
}

.nav-link:hover {
  color: var(--grey);
}

.text {
  padding: 3rem 0;
  text-align: justify;
  line-height: 1.3;
}

.text h2 {
  margin: 3rem 0;
  color: var(--black);
}

.text h3 {
  margin: 3rem 0 2rem 0;
  color: var(--black);
}

.text a {
  color: var(--yellowish);
  text-decoration: none;
  transition: 0.2s;
}

.text ul {
  margin: 2rem 0;
}

.text li {
  margin: 0.5rem 0;
}

.text img {
  display: block;
  width: 100%;
  max-width: 800px;
  margin: 3rem auto;
}

.text .highlight {
  color: var(--grey);
}

.text-link:hover {
  color: var(--grey);
}

.archive ol {
  list-style: disc;
}

.archive li {
  margin: 1rem 0;
}

.archive a {
  color: var(--black);
  text-decoration: none;
  transition: 0.2s;
}

.archive a:hover {
  color: var(--dark-grey);
}

.subtitle {
  color: var(--dark-grey);
}

.date {
  color: var(--dark-grey);
}

@media (max-width: 1400px) {
  main {
    margin: auto;
    padding: 3rem 15%;
  }

  .navbar {
    padding: 0 15%;
  }
}

@media (max-width: 800px) {
  main {
    margin: auto;
    padding: 1.5rem 5%;
  }

  .navbar {
    padding: 0;
    justify-content: space-between;
    align-items: stretch;
  }

  .nav-icon {
    display: block;
    margin-right: 1rem;
    color: var(--black);
    text-decoration: none;
    transition: 0.4s;
    transform: rotate(90deg);
  }

  .nav-item {
    display: none;
  }

  .navbar-header {
    padding: 0 1%;
    transition: background-color 0.5s ease;
    flex-grow: 1;
  }

  ul.dropped {
    flex-direction: column;
    justify-content: flex-start;
  }

  .dropped a {
    transform: rotate(0deg);
  }

  .dropped li.navbar-header {
    background: var(--yellowish);
  }

  .dropped li.nav-item {
    display: block;
    padding-top: 1rem;
    text-align: center;
  }

  .dropped li.nav-item:last-child {
    padding-bottom: 1rem;
  }
}
