:root {
  font-family: Courier New, monospace;

  --almost-white: #FBFBFB;
  --yellowish: #B8972C;
  --grey: #899BA9;
  --light-grey: #DEDCE4;
  --black: #262730;
}

body {
  margin: 0;
  background: var(--almost-white);
}

main {
  margin: auto;
  padding: 5rem 25%;
}

#gopher {
  height: 3rem;
}

.navbar {
  background: var(--light-grey);
  margin: 0;
  padding: 0 25%;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  list-style: none;
}

.navbar-brand {
  color: var(--black);
  padding: 0 1rem;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar-brand:hover {
  color: var(--grey);
}

.navbar-header {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-icon {
  display: none;
}

.nav-item {
  padding: 0 0.75rem;
}

.nav-link {
  color: var(--black);
  text-decoration: none;
  transition: 0.2s;
}

.nav-link:hover {
  color: var(--grey);
}

.text {
  padding-top: 3rem;
  text-align: justify;
}

.text-link {
  color: var(--yellowish);
  text-decoration: none;
  transition: 0.2s;
}

.text-link:hover {
  color: var(--grey);
}

@media (max-width: 1200px) {
  main {
    margin: auto;
    padding: 3rem 15%;
  }

  .navbar {
    padding: 0 15%;
  }
}

@media (max-width: 800px) {
  main {
    margin: auto;
    padding: 1.5rem 5%;
  }

  .navbar {
    padding: 0;
    justify-content: space-between;
    align-items: stretch;
  }

  .nav-icon {
    display: block;
    margin-right: 1rem;
    color: var(--black);
    text-decoration: none;
    transition: 0.4s;
    transform: rotate(90deg);
  }

  .nav-item {
    display: none;
  }

  .navbar-header {
    padding: 0 1%;
    transition: background-color 0.5s ease;
    flex-grow: 1;
  }

  ul.dropped {
    flex-direction: column;
    justify-content: flex-start;
  }

  .dropped a:hover {
    transform: rotate(0deg);
  }

  .dropped li.navbar-header {
    background: var(--yellowish);
  }

  .dropped li.nav-item {
    display: block;
    padding-top: 1rem;
    text-align: center;
  }

  .dropped li.nav-item:last-child {
    padding-bottom: 1rem;
  }
}
