html {
    min-height: 100%;

    display: flex;
    flex-direction: column;
}

body {
  margin: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.theme-wrap {
  flex-grow: 1;
  margin:0;
  
  background: var(--bg);
  color: var(--fg);

  transition: background-color 0.5s ease;
}

main {
  margin: auto;
  padding: 5rem 0;
  max-width: var(--max-width);
}

footer {
  padding-top: 3rem;
  display: flex;
  justify-content: flex-end;
}

footer a {
  margin: 0 1rem;
  color: var(--footer-fg);
  text-decoration: none;
  transition: 0.2s;
}

#gopher {
  height: 3rem;
}

.theme-box {
  position: absolute;
  top: .56rem;
  right: .56rem;
  opacity: .001;
}

.nav-theme>label {
  margin: auto;
  height: 1.2rem;
  width: 1.2rem;
  background-color: var(--bg);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.nav-theme>label:hover {
  background-color: var(--fg);
}

.navbar-pading {
  padding: 0 auto;
}

.navbar-wrapper {
  background: var(--bg-secondary);

  display: flex;
  justify-content: center;
  margin: 0;
}

.navbar {
  background: var(--bg-secondary);
  margin: 0;
  padding: 0;
  max-width: var(--max-width);
  flex-grow: 1;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  list-style: none;
}

.navbar-brand {
  color: var(--fg);
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar-brand:hover {
  color: var(--hover);
}

.navbar-header {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-icon {
  display: none;
}

.nav-item {
  padding: 0 0.75rem;
}

.nav-link {
  color: var(--fg);
  text-decoration: none;
  transition: 0.2s;
}

.nav-link:hover {
  color: var(--hover);
}


main {
  text-align: justify;
  line-height: 1.5;
}

main h4 {
  padding: 0 0 3rem  
}

main h2 {
  margin: 3rem 0;
  color: var(--fg);
}

main h3 {
  margin: 3rem 0 2rem 0;
  color: var(--fg);
}

main h4 {
  color: var(--fg-secondary);
}

main h5 {
  color: var(--fg-secondary);
  margin: 0 0 0 0;
  font-wermal;
  font-size: 1rem;
}

main blockquote {
  color: var(--fg-secondary);
  border-left: 0.15rem solid var(--highlight);
  padding: 0 0 0 1rem;
}

main a {
  color: var(--links);
  text-decoration: none;
  transition: 0.2s;
}

main ul {
  margin: 2rem 0;
}

main li {
  margin: 0.5rem 0;
  list-style: none;
}

main li::before {
  padding: 0 1rem 0 0;
  content: "•";
  color: var(--highlight)
}

main code {
  color: var(--highlight);
  font-size: 1rem;
}

main img {
  display: block;
  width: 100%;
  max-width: 900px;
  margin: 3rem auto;
}

main p strong {
  color: var(--highlight);
}

.text-link:hover {
  color: var(--hover);
}

.archive ol {
  list-style: disc;
  line-height: 1;
}

.archive li {
  margin: 1rem 0;
}

.archive .date {
  color: var(--fg-secondary)
}

.archive a {
  color: var(--fg);
  text-decoration: none;
  transition: 0.2s;
}

.archive a:hover {
  color: var(--hover);
}

@media (max-width: 1400px) {
  main {
    margin: auto;
    padding: 3rem 15%;
  }

  .navbar {
    padding: 0 15%;
  }
}

@media (max-width: 800px) {
  main {
    margin: auto;
    padding: 1.5rem 5%;
  }

  .navbar {
    padding: 0;
    justify-content: space-between;
    align-items: stretch;
  }

  .nav-icon {
    display: block;
    margin-right: 1rem;
    color: var(--fg);
    text-decoration: none;
    transition: 0.4s;
    transform: rotate(90deg);
  }

  .nav-item {
    display: none;
  }

  .navbar-header {
    padding: 0 1%;
    transition: background-color 0.5s ease;
    flex-grow: 1;
  }

  ul.dropped {
    flex-direction: column;
    justify-content: flex-start;
  }

  .dropped a {
    transform: rotate(0deg);
  }

  .dropped li.navbar-header {
    background: var(--bg-terciary);
  }

  .dropped li.nav-item {
    display: block;
    padding-top: 1rem;
    text-align: center;
  }

  .dropped li.nav-item:last-child {
    padding-bottom: 1rem;
  }
}

